{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <i class="fa fa-database"></i>
    Data Upload Management
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <form method="POST" action="" enctype="multipart/form-data" class="form-inline margin">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-image"></i> Upload Image
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body text-center">
            <img src="{% if image_fn %}/static/image-upload/{{ image_fn }} {% else %} /static/img/no-image.png {% endif %}" alt="no image" class="img-rounded" style="max-width: 225px;">
            {% if image_fn %}
              {{ image_fn}}
            {% endif%}
            <div class="form-group" style="margin-top:10px">
              <div class="input-group">
                <label class="btn btn-block btn-primary form-control" for="my-file-selector">
                  <input name="image_file" id="my-file-selector" type="file" style="display:none">
                  <i class="fa fa-cloud-upload"></i>
                  Browse File
                </label>
                <div class="input-group-addon" id="upload-file-info">no file selected.</div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <div class="form-group">
              <button type="submit" class="btn btn-primary" disabled>Upload</button>
              <a href="/admin" class="btn btn-primary" style="margin-left:7px">Cancel</a>
            </div>
          </div>
          <!-- /.box-footer-->
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Latest Uploaded Files
          </h3>
          <div class="box-tools">
            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          {% if tableRecords is not none %}
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody><tr>
                <th>No</th>
                <th> </th>
                <th>Name</th>
                <th>Upload On </th>
                <th>Upload By</th>
                <th> </th>
              </tr>
              {% for record in tableRecords.items  %}
              <tr>
                <td>{{ loop.index + tableRecords.per_page*(tableRecords.page - 1)  }}</td>
                <td>{% if record['Inference_Id'] %} 
                      <i class="fa fa-check text-green"></i> 
                    {% else %} 
                      <i class="fa fa-close text-muted"></i> 
                    {% endif %}
                </td>
                <td>{{ record['name'] }}</td>
                <td>{{ record['upload_at'].strftime("%m/%d/%Y, %H:%M:%S") }}</td>
                <td>{{ record['upload_by'] }}</td>
                <td><a class="btn btn-primary btn-xs">
                      <i class="fa fa-braille"></i> Calculate GLCM</a>
                    <form method="POST" action="" style="display: inline">
                      <button name="upload_id" type="submit" value= "{{ record['id'] }}" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash"></i></button>
                    </form>
                </td>
              </tr>
              {% endfor %}
            </tbody></table>
          </div>
          {% endif %}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <!-- List Counter -->
          <ul class="no-margin no-padding pull-left">
            {{ tableRecords.per_page*(tableRecords.page - 1) + 1 }} 
            to 
            {{ tableRecords.per_page*tableRecords.page }}
            of 
            {{ count }} 
            records</ul>
          
          <!-- Pagination -->
          <ul class="pagination pagination-sm no-margin pull-right">
            {% if tableRecords.pages != 1  %}

              {% if tableRecords.prev_num is not none %}
                <li><a href="{{ url_for('data.index', page=tableRecords.prev_num) }}">«</a></li>
              {% endif %}
              {% for i in range(min_page_show, max_page_show) %}
                <li><a href="{{ url_for('data.index', page=i) }}">{{ i }}</a></li>
              {% endfor %}
              {% if tableRecords.next_num is not none %}
                <li><a href="{{ url_for('data.index', page=tableRecords.next_num) }}">»</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
        <!-- /.box-footer-->
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12"></div>
  </div>
</section>

{% endif %}

{% endblock body %}

{% block js_custom %}
  <script>
    $('#my-file-selector').on("change", function(){ 
      if (this.files[0].name.length > 20){
        $('#upload-file-info').html("..." + this.files[0].name.substr(-20));
      }
      else {
        $('#upload-file-info').html(this.files[0].name);
      }
     });

    // enable submit button when file input on change
    $('input[type=file]').change(function(){
    if($('input[type=file]').val()==''){
        $('button').attr('disabled',true)
    } 
    else{
      $('button').attr('disabled',false);
    }
})
  </script>
{% endblock js_custom %}
