{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <i class="fa fa-braille"></i>
    Gray Level Co-occurance Matrix (GLCM)
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Image with GLCM</h3>
              <div class="box-tools">
                <form method="POST" action="" style="display: inline">
                  <div class="input-group input-group-sm hidden-xs" style="width: 150px;">            
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" value="{{ table_search }}">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {% if tableRecords is not none %}
              <div class="box-body table-responsive no-padding my-custom-scrollbar">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>No</th>
                    <th> </th>
                    <th>Image</th>
                    <th> </th>
                  </tr>
                  {% for record in tableRecords.items  %}
                  <tr class="{{ 'selected_item' if record['id'] == request.args.get('upload_id')|int }}">
                    <td>{{ loop.index + tableRecords.per_page*(tableRecords.page - 1)  }}</td>
                    <td>{% if record['Inference_Id'] %} 
                          <i class="fa fa-check text-green"></i> 
                        {% else %} 
                          <i class="fa fa-close text-muted"></i> 
                        {% endif %}
                    </td>
                    <td>
                        <img src="/static/image-upload/{{ record['name'] }}" alt="no image" class="img-rounded" style="max-width: 100px;">
                    </td>
                    <td>{% if not record['Inference_Id'] %}
                        <a href="{{ url_for('glcm.calc', upload_id=record['id'], recalc=1, page=request.args.get('page')) }}" class="btn btn-success btn-xs"><i class="fa fa-repeat"></i></a>
                        <a href="{{ url_for('glcm.delete', upload_id=record['id'], page=request.args.get('page') ) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        <a href="{{ url_for('glcm.index', upload_id=record['id'], page=request.args.get('page')) }}" class="btn btn-primary btn-xs">view</a>
                        {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody></table>
              </div>
              {% endif %}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <!-- List Counter -->
              <ul class="no-margin no-padding pull-left">
                {% if tableRecords.items != [] %}
                  {{ tableRecords.per_page*(tableRecords.page - 1) + 1 }} 
                  to 
                  {{ tableRecords.per_page*tableRecords.page if tableRecords.per_page*tableRecords.page <= count else count }}
                  of 
                  {{ count }} 
                  records
                {% else %}
                  No record to show...
                {% endif%}
                </ul>
              
              <!-- Pagination -->
              <ul class="pagination pagination-sm no-margin pull-right">
                {% if tableRecords.pages > 0  %}
                  <li class="paginate_button {{ 'disabled' if tableRecords.prev_num is none }}">
                    <a href="{{ url_for('glcm.index', page=tableRecords.prev_num) if tableRecords.prev_num is not none else '#'}}">«</a>
                  </li>
                  {% for i in range(min_page_show, max_page_show) %}
                    <li class="paginate_button {{ 'active' if i == tableRecords.page }}">
                      <a href="{{ url_for('glcm.index', page=i) }}">{{ i }}</a>
                    </li>
                  {% endfor %}
                  <li class="paginate_button {{ 'disabled' if tableRecords.next_num is none }}">
                    <a href="{{ url_for('glcm.index', page=tableRecords.next_num) if tableRecords.next_num is not none else '#'}}">»</a>
                  </li>
                {% endif %}
              </ul>
            </div>
            <!-- /.box-footer-->
          </div>
    </div>
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ 'GLCM For Image ' + selectedImage if selectedImage else 'GLCM Result'}}
            </h3>
        </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- GLCM Tablerecords -->
            {% if glcmRecords.first()  %}
            <div class="box-body table-responsive no-padding my-custom-scrollbar">
            <table class="table table-hover">
                <tbody><tr>
                <th>Angel</th>
                <th>Dissimilarity</th>
                <th>Correlation</th>
                <th>Homogeneity</th>
                <th>Contrast</th>
                <th>ASM</th>
                <th>Energy</th>
                </tr>
                {% for record in glcmRecords  %}
                <tr>
                <td>{{ record['angel'] }}</td>
                <td>{{ record['dissimilarity'] }}</td>
                <td>{{ record['correlation'] }}</td>
                <td>{{ record['homogeneity'] }}</td>
                <td>{{ record['contrast'] }}</td>
                <td>{{ record['ASM'] }}</td>
                <td>{{ record['energy'] }}</td>
                </tr>
                {% endfor %}
            </tbody></table>
            </div>
            {% else %}
            No GLCM data to show, please select image to view GLCM data on left panel. 
            {% endif %}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ url_for('glcm.delete', upload_id=request.args.get('upload_id') ) if glcmRecords.first() else '#'}}" class="btn  btn-sm btn-danger" {{'disabled' if not glcmRecords.first() }}><i class="fa fa-trash"></i> Delete</a>
            <a href="{{ url_for('upload.index') if glcmRecords.first() else '#'}}" class="btn  btn-sm btn-primary" style="margin-left: 5px"><i class="fa fa-upload"></i> Upload more image?</a>
            <a href="{{ url_for('run_inference.run' if not has_inference else 'run_inference.index', upload_id=request.args.get('upload_id') ) if glcmRecords.first() else '#'}}" class="btn btn-sm btn-primary pull-right" {{'disabled' if not glcmRecords.first() }}><i class="fa fa-bar-chart"></i> {{ 'Run' if not has_inference else 'View'}} Inference</a>
        </div>
        <!-- /.box-footer-->
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12"></div>
  </div>
</section>

{% else %}
  <center>
  <section class="well transp_white center_v">
    <div class="col-sm-12">
      <h1>Coffe Bean Classifier App</h1>
      <p class="lead">
        Authentication
      </p>
      {% if not current_user.is_authenticated %}
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
      {% endif %}
      <br>
    </div>
  </section>
  </center>
{% endif %}

{% endblock body %}

{% block js_custom %}

{% endblock js_custom %}
